body {
  background: #222;
  color: #aaa;
  display: flex;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0px;
  overflow: hidden;
}

ul {
  list-style: none;
}

#title {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding: 30px 30px 10px;
  text-transform: uppercase;
}

#main-nav {
  display: flex;
}

#main-container {
  position: absolute;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* hide incrementers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}