ul {
  background: #363636;
  /*border: 1px solid #111111;*/
  border-radius: 3px;
  list-style: none;
  font-size: 20px;
  margin: 20px 30px;
  padding: 20px 0;
  text-align: center;
}

ul li {
  opacity: 0.5;
  padding: 15px 20px;
}

ul li:hover {
  opacity: 1;
}