<ul id="main-nav-toolbar">
  <li class="ss-users main-nav-button" id="object-details"></li>
  <li class="ss-download main-nav-button" id="object-export"></li>
  <li class="ss-settings main-nav-button" id="object-settings"></li>
</ul>

<div id="secondary-nav">
  <div id="object-nav"></div>
  <div id="object-detail"></div>
</div>

<div id="ternary-nav">
</div>