<div class="menu-header-border">
  <div id="body-name" class="menu-name"></div>
</div>

<div class="menu-body">
  <div id="body-config" class="menu-body-input-container">
    <div class="menu-body-input-label">config</div>
    <div class="menu-body-input">
      <select>
        <option value="0">none</option>
        <option value="1">anime</option>
        <option value="2">muscular</option>
        <option value="3">slender</option>
        <option value="4">fat</option>
      </select>
    </div>
  </div>

  <div id="body-sex" class="menu-body-input-container">
    <div class="menu-body-input-label">sex</div>
    <div class="menu-body-input">
      <select>
        <option value="0">male</option>
        <option value="1">female</option>
      </select>
    </div>
  </div>

  <div id="body-origin" class="menu-body-input-container">
    <div class="menu-body-input-label">origin</div>

    <div class="menu-body-inline-container">
      <div class="menu-body-input-inline">
        <div class="menu-body-input-inline-label">x:</div>
        <input id="body-origin-x" type="text">
      </div>

      <div class="menu-body-input-inline">
        <div class="menu-body-input-inline-label">y:</div>
        <input id="body-origin-y" type="text">
      </div>

      <div class="menu-body-input-inline">
        <div class="menu-body-input-inline-label">z:</div>
        <input id="body-origin-z" type="text">
      </div>
    </div>
  </div>
</div>