<div id="object-nav-name" class="menu-name">
  Objects
</div>

<ul id="object-nav-objects" class="menu-object-list">
  <% collection.each(function(model) { %>
    <li><%= model.get('name') %></li>
  <% }) %>
</ul>
